.offers {
  display: flex;
  width: 65%;
  height: 60vh;
  margin: auto;
  padding: 0px 140px;
  margin-bottom: 150px;
  background: linear-gradient(360deg, rgb(255, 255, 255), rgb(198, 162, 242));
}
.offers-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.offers-left h1 {
  color: rgb(0, 0, 0);
  font-size: 80px;
  font-weight: 600;
}
.offers-left p {
  color: rgb(0, 0, 0);
  font-size: 22px;
  font-weight: 600;
}
.offers-left button {
  width: 282px;
  height: 70px;
  border-radius: 35px;
  background: blueviolet;
  border: none;
  color: white;
  font-size: 22px;
  font-weight: 500;
  margin: 30px;
  cursor: pointer;
}
.offers-right {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-top: 50px;
}
