.address {
  width: 100%;
  min-height: 80vh;
  background: rgba(206, 156, 222, 0.524);
  padding-top: 100px;
}

.address-container {
  width: 580px;
  min-height: 500px;
  background: rgb(255, 255, 255);
  margin: auto;
  padding: 40px 60px;
}

.form-fields {
  display: flex;
  flex-direction: column;
  gap: 29px;
  margin-top: 30px;
}

.form-fields input {
  height: 50px;
  width: 100%;
  padding-left: 20px;
  border: 1px solid black;
  outline: none;
  color: grey;
  font-size: 18px;
}
