.resetpassword {
  background: rgba(206, 156, 222, 0.524);
  width: 100%;
  height: 500px;
  padding-top: 100px;
}

.resetpassword-container {
  width: 580px;
  min-height: 250px;
  background: rgb(255, 255, 255);
  margin: auto;
  padding: 40px 60px;
}

.resetpassword-container h1 {
  margin: 20px 0px;
}

.resetpassword-fields {
  display: flex;
  flex-direction: column;
  gap: 29px;
  margin-top: 30px;
}

.resetpassword-fields input {
  height: 50px;
  width: 100%;
  padding-left: 20px;
  border: 1px solid black;
  outline: none;
  color: grey;
  font-size: 18px;
  border-radius: 10px;
}

.resetpassword-container button {
  width: 600px;
  height: 72px;
  color: white;
  background: rgb(86, 13, 86);
  margin-top: 30px;
  border: none;
  border-radius: 15px;
  font-size: 25px;
  font-weight: 500;
  cursor: pointer;
}
